# Loops
If you want code to be executed repeatedly, you can make use of loops.

See also
* [Python loops Tutorial](https://www.youtube.com/watch?v=4dN4Cn4u2M0)
* [Python for loops](https://www.w3schools.com/python/python_for_loops.asp)

## For loops
For looping over a range of numbers, we can use a simple `for` loop and the [range](https://www.w3schools.com/python/ref_func_range.asp) function.

In the following cell, the `print(i)` command will be executed a couple of times for different values of `i`. We **i**terate over a range of values:

In [1]:
for i in range(0, 5):
    print(i)

0
1
2
3
4

Note that the above code that is indented will only be executed for the first given number (0) and continue until the last number (5) but not including it.

You can also loop over a range of numbers with a defined step, for example step 3:

In [2]:
for i in range(0, 10, 3):
    print(i)

0
3
6
9

Iterating over arrays allows you to do something with all array elements:

In [3]:
for animal in ["Dog", "Cat", "Mouse"]:
    print(animal)

Dog
Cat
Mouse

You can iterate over two arrays in parallel, pair-wise like this:

In [4]:
# going through arrays pair-wise
measurement_1 = [1, 9, 7, 1, 2, 8, 9, 2, 1, 7, 8]
measurement_2 = [4, 5, 5, 7, 4, 5, 4, 6, 6, 5, 4]

for m_1, m_2 in zip(measurement_1, measurement_2):
    print("Paired measurements: " + str(m_1) + " and " + str(m_2))

Paired measurements: 1 and 4
Paired measurements: 9 and 5
Paired measurements: 7 and 5
Paired measurements: 1 and 7
Paired measurements: 2 and 4
Paired measurements: 8 and 5
Paired measurements: 9 and 4
Paired measurements: 2 and 6
Paired measurements: 1 and 6
Paired measurements: 7 and 5
Paired measurements: 8 and 4

If you want to know the index of the element in the list as well, use the [enumerate](https://realpython.com/python-enumerate/) function:

In [5]:
# numbering and iterating through collections
for index, animal in enumerate(["Dog", "Cat", "Mouse"]):
    print("The animal number " + str(index) + " in the list is " + animal)

The animal number 0 in the list is Dog
The animal number 1 in the list is Cat
The animal number 2 in the list is Mouse

## Generating lists in loops
One can generate lists using for loops. The conventional way of doing this involves multiple lines of code:

In [6]:
# we start with an empty list
numbers = []

# and add elements
for i in range(0, 5):
    numbers.append(i * 2)
    
print(numbers)

[0, 2, 4, 6, 8]

One can also write that shorter. The underlying concept is called [generators](https://wiki.python.org/moin/Generators), aka list comprehensions.

In [7]:
numbers = [i * 2 for i in range(0, 5)]

print(numbers)

[0, 2, 4, 6, 8]

The conventional combination involving an if-statements looks like this:

In [8]:
# we start with an empty list
numbers = []

# and add elements
for i in range(0, 5):
    # check if the number is odd
    if i % 2:
        numbers.append(i * 2)
    
print(numbers)

[2, 6]

And the short version like this:

In [9]:
numbers = [i * 2 for i in range(0, 5) if i % 2]

print(numbers)

[2, 6]

## While loops
Another way of looping is using the `while` loop. It works by checking a condition, similar to the `if` statement. It will interrupt execution as soon as the condition is no longer true:

In [10]:
number = 1024

while (number > 1):
    number = number / 2
    print(number)

512.0
256.0
128.0
64.0
32.0
16.0
8.0
4.0
2.0
1.0

## Interrupting loops
You can interrupt loops at specific points in your code using the `break` command:

In [11]:
number = 1024

while (True):
    number = number / 2
    print(number)
    
    if number < 1:
        break;

512.0
256.0
128.0
64.0
32.0
16.0
8.0
4.0
2.0
1.0
0.5

In [12]:
for i in range(10):
    print(i)
    if i > 5:
        break

0
1
2
3
4
5
6

## Skipping iterations in loops
If you want to skip iterations, you can use the `continue` statement. That often makes sense in combination with an `if`:

In [13]:
for i in range(0, 10):
    if i >= 3 and i <= 6:
        continue
    print(i)

0
1
2
7
8
9

## Exercise 1
Assume you have a list of filenames and you want to do something with them, for example print them out. Program a for loop which prints out all file names which end with "tif".

In [1]:
file_names = ['dataset1.tif', 'dataset2.tif', 'summary.csv', 'readme.md', 'blobs.tif']

In [3]:
for filename in file_names:
    if filename.endswith(".tif"):
        print(filename)

dataset1.tif
dataset2.tif
blobs.tif

## Exercise 2
Assume you have a list of circle radii. Make a table (dictionary) with two columns: radius and area.

In [4]:
radii = [3, 15, 67, 33, 12, 8, 12, 9, 22]

In [8]:
import math
import pandas as pd

def c_area(radius):
    surface_area = math.pi * (pow(radius,2))
    return surface_area

# First calculate areas and append them to an empty list (using a for loop)
areas = []
for radius in radii:
    area = c_area(radius)
    areas.append(area)
print (areas)

# Alternatively you can use a list comprehension (this will overwrite the previous areas variable)
areas = [c_area(radius) for radius in radii]
print (areas)

circles = {
    "radius": radii,
    "area": areas
}
pd.DataFrame(circles)

[28.274333882308138, 706.8583470577034, 14102.609421964582, 3421.194399759285, 452.3893421169302, 201.06192982974676, 452.3893421169302, 254.46900494077323, 1520.53084433746]
[28.274333882308138, 706.8583470577034, 14102.609421964582, 3421.194399759285, 452.3893421169302, 201.06192982974676, 452.3893421169302, 254.46900494077323, 1520.53084433746]

   radius          area
0       3     28.274334
1      15    706.858347
2      67  14102.609422
3      33   3421.194400
4      12    452.389342
5       8    201.061930
6      12    452.389342
7       9    254.469005
8      22   1520.530844