# Lists and tuples
Variables can also contain multiple entries of values. We call those lists and tuples. Some programmers also call them vectors or arrays; arrays of values. We already know one kind of array, strings. Strings are lists of characters.

See also
* [Arrays](https://physics.nyu.edu/pine/pymanual/html/chap3/chap3_arrays.html)
* [Average is list](https://www.geeksforgeeks.org/find-average-list-python/)

You can access elements in an array using square brackets `[]` which allow you access an element at a given index. Indexing starts at 0. Thus, the first element of an array is element number 0. The following string contains 5 characters and thus, element with index 0, 1, 2, 3 and 4 can be accessed:

In [1]:
word = "Hello"

In [2]:
word[0]

'H'

In [3]:
word[1]

'e'

In [4]:
word[2]

'l'

In [5]:
word[3]

'l'

In [6]:
word[4]

'o'

When accessing an index that is not in the list, we receive an error:

In [7]:
word[5]

IndexError: string index out of range

# Numeric lists
Another type of array are numeric lists. They are common to store measurements of experiments for example:

In [9]:
measurements = [5.5, 6.3, 7.2, 8.0, 8.8]

In [10]:
measurements[0]

5.5

In [11]:
measurements[1]

6.3

Changing entries in lists works like this:

In [12]:
measurements[1] = 25

In [13]:
measurements

[5.5, 25, 7.2, 8.0, 8.8]

You can also append entries to lists:

In [14]:
measurements.append(10.2)
measurements

[5.5, 25, 7.2, 8.0, 8.8, 10.2]

Lists can also be reversed:

In [15]:
measurements.reverse()
measurements

[10.2, 8.8, 8.0, 7.2, 25, 5.5]

Just like strings, you can also concatenate arrays:

In [16]:
more_measurements = [12.3, 14.5, 28.3]

In [17]:
measurements + more_measurements

[10.2, 8.8, 8.0, 7.2, 25, 5.5, 12.3, 14.5, 28.3]

When working with numeric lists, you can use some of python's built-in functions to do basic statistics on your measurements

In [18]:
# minimum value in the list
min(measurements)

5.5

In [19]:
# maximum value in the list
max(measurements)

25

In [20]:
# sum of all elements in the list
sum(measurements)

64.7

In [21]:
# number of elements in the list
len(measurements)

6

In [22]:
# average of all elements in the list
sum(measurements) / len(measurements)

10.783333333333333

# Mixed type lists
You can also store values of different types in a list

In [23]:
mixed_list = [22, 5.6, "Cat", 'Dog']

In [24]:
mixed_list[0]

22

In [25]:
mixed_list[3]

'Dog'

In [26]:
type(mixed_list[0])

int

In [27]:
type(mixed_list[3])

str

# Tuples
Tuples are lists which cannot be changed:

In [28]:
immutable = (4, 3, 7.8)

In [29]:
immutable[1]

3

In [30]:
immutable[1] = 5

TypeError: 'tuple' object does not support item assignment

You can convert tubles to lists and lists to tuples:

In [31]:
type(immutable)

tuple

In [32]:
mutable = list(immutable)

In [33]:
type(mutable)

list

In [34]:
again_immutable = tuple(mutable)

In [35]:
type(again_immutable)

tuple

# Exercise
Take the `immutable` tuple above and turn it into a list. Append the number `24` to the list and turn the result into a tuple.

In [36]:
immutable = (4, 3, 7.8)
immutable

(4, 3, 7.8)

In [40]:
mutable = list(immutable)
mutable.append(24)
new_tuple = tuple(mutable)
print(type(new_tuple))
print(new_tuple)

<class 'tuple'>
(4, 3, 7.8, 24)